<!DOCTYPE html>
<html>
<head>
  <title>YSK [Exclusive]</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
  </script>

  <![endif]-->
  <style>
      /*body {*/
          /*text-align: center;*/
          /*font-family: Amatic SC, cursive;*/
          /*text-space: 50px;*/
          /*font-size: 25px;*/
          /*letter-spacing: 13px;*/
          /*background-color: #000000;*/
          /*background-image: url ('home.png')*/
      /*}*/

  </style>
</head>
<body>
<!--<header>-->
      <!--<body>-->
     <p>     <!--<div class="home">-->
            <%= link_to "Home", root_path %>
            <%= link_to "Art", art_path %>
            <%= link_to "Look", lookbook_path %>

            <%= link_to "About", about_path %>
            <%= link_to "Contact", contact_path %>
            <%= link_to "View basket", basket_path %>
            <!--</div>-->
            <!--<div>-->
            <%= flash[:notice] %>

        <%= link_to "Checkout", checkout_path %>
            <% if current_order %>
                <!--<p class="cart">-->
                  <!--You have <%= pluralize current_order.total_items, 'item'%> in your cart which cost-->
                  <%= number_to_currency current_order.total_before_tax %>.
                <!--</p>-->
            <% end %>
            <%= yield %>
          <!--</div>-->
     </p>
</body>





</html>
