<!DOCTYPE html>
<html>
<head>
  <title>YSK [Exclusive]</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_order %>
    <p style="border:1px solid black;padding:10px;">
      You have <%= pluralize current_order.total_items, 'item'%> in your cart which cost
      <%= number_to_currency current_order.total_before_tax %>.
    </p>
<% end %>
<%= link_to "Home", root_path %>
<%= link_to "Art", art_path %>
<%= link_to "LookBook", lookbook_path %>
<%= link_to "Products", products_path %>
<%= link_to "About Us", about_path %>
<%= link_to "Contact Us", contact_path %>
<%= link_to "View basket", basket_path %>
<%= flash[:notice] %>
<%= link_to "Checkout", checkout_path %>
<%= yield %>

</body>
</html>
